@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap");

html,
body {
  height: 100%;
  display: -ms-flexbox;
  -ms-flex-align: center;
  background: #fafafa;
  font-family: "Roboto", sans-serif;
  font-weight: 300 !important;
}

.wrap-header {
  margin-top: 75px;
  background: #fafafa;
}
/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  #headline {
    margin-top: 140px;
  }
}

.brands-wrapper {
  padding-top: 100px;
  padding-bottom: 60px;
  background: #fafafa;
}

.empower-wrap {
  background: #fafafa;
  padding-top: 80px;
  padding-bottom: 60px;
}

.invest-wrap {
  background: #fafafa;
  padding-top: 80px;
  padding-bottom: 60px;
}

.no-gutters {
  padding: 0px !important;
  margin: 0 !important;
}
a {
  color: #6b7280 !important;
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
}

a:hover {
  color: #da5127;
  text-decoration: none;
}
.logo {
  max-width: 180px;
}
.navbar {
  padding: 15px 20px 18px 20px !important;
}

.nav-link {
  font-size: 15px;
}
.navbar-light {
  background: #fff;
  border-bottom: 1px solid #d5d5d5;
}

.btn-info {
  color: #fff !important;
  background-color: #595959 !important;
  border-color: #3c3c3c !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #ff8f02 !important;
  border-color: #ff8f02 !important;
  padding: 10px 30px 10px 30px !important;
}
.btn-primary:hover {
  background-color: #c95531 !important;
  border-color: #c95531 !important;
}

.btn-secondary {
  padding: 10px 30px 10px 30px !important;
  color: #fff !important;
}

.btn-outline-primary {
  padding: 8px 30px 8px 30px !important;
  border-radius: 3px;
  display: inline-block;
  color: #6b7280 !important;
  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 1px solid #d3d3d3 !important;
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
}

.btn-outline-primary:hover {
  background: #da5127 !important;
  border: 1px solid #da5127 !important;
  color: #fff !important;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #333;
}

.page-headline {
  padding-top: 100px;
}

ul.check {
  list-style: none;
  padding: 0;
}
ul.check li {
  padding-left: 1.3em;
  margin-bottom: 15px;
}
ul.check li:before {
  color: #21c16c;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  display: inline-block;
  margin-left: -1.8em; /* same as padding-left set on li */
  width: 1.5em; /* same as padding-left set on li */
}
